* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-image: url(../img/paper.png);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: 16px/1 "Tangerine";
	color: #212121;
	padding: 15px;
}

html,
body {
	height: 100%;
}

a {
	text-decoration: none;
	color: #212121;
}

.vertical-align {
	transform: translateY(-50%);
	position: relative;
	top: 50%;
}

.bottom-box {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.quote {
	text-align: center;
	font-size: 2em;
}

.typed-cursor {
	opacity: 0;
}

.fa {
	margin: 4px;
}

.fa-random {
	transition: 0.8s;
}

.fa-random:hover {
	transform: rotate3d(45, 0, 0, 180deg);
}

.fa-language {
	transition: 0.8s;
}

.fa-language:hover {
	transform: rotate3d(0, 45, 0, 180deg);
}

.fa-twitter,
.fa-github-alt {
	transition: 0.5s;
}

.fa-twitter:hover {
	transform: scale(1.1);
	color: #1da1f2;
}

.fa-github-alt:hover {
	transform: scale(1.1);
	color: #4078c0;
}